
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <br />
    <div class="alert alert-success" role="alert">
        Parabéns, seu cadastro foi efetuado com sucesso!
    </div>
    <a href="/institution/index">Ir para  a página inicial.</a>
</div>