@model LinkVoluntario.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Index";
}


<div class="row">

    <div class="col-md-4 col-md-offset-4">
        <h2>Efetue seu login</h2>

        <form method="post" action="@Url.Action("Login", "Institution")">

            <div class="form-group">
                <label asp-for="Email">Usuário</label>
                <input id="Email" name="Email" type="email" required class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Senha</label>
                <input type="password" name="Password" required id="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success" />
            </div>
            <div class="text-danger">@ViewBag.Mensagem</div>
        </form>
        Ainda não possui cadastro? Registre-se agora! <a href="@Url.Action("Register", "Institution")">Clique aqui</a>.
        <a href="@Url.Action("RecoverPassword", "Institution")">Esqueci minha senha.</a>
    </div>

</div>
<br />



