
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <br />
    <div class="alert alert-success" role="alert">
        Caso os dados informados estejam corretos, foi enviada uma senha para seu e-mail!
    </div>
    <a href="/Home/index">Ir para  a página inicial.</a>
</div>