<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Digite os dados</h2>

        <form method="post" action="@Url.Action("ResendPassword", "Institution")">

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input id="Email" name="Email"  type="email" required class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CNPJ">CNPJ</label>
                <input type="text" name="CNPJ" id="CNPJ" required class="form-control" />              
            </div>
            <div class="form-group">
                <input type="submit" value="Gerar nova senha" class="btn btn-success" />
            </div>
            <div class="text-danger">@ViewBag.Mensagem</div>
        </form>       
    </div>
</div>
<br />
