
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <br />
    <div class="alert alert-success" role="alert">
        Sua mensagem foi encaminhada a instituição com sucesso!
    </div>
    <a href="/Home/index">Ir para  a página inicial.</a>
</div>