@{
    ViewBag.Title = "Home Page";
}
<header style="background-color: #99CC32; text-align: center">
    <div class="container text-center" style="color: white">
        <h1>Bem-vindo ao Link Voluntário</h1>
        <p class="lead">A união entre sua vontade de fazer o bem e quem precisa!</p>
    </div>
</header>
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>Sobre nós</h2>
            <p class="lead">O Link Voluntário surgiu com o intuito de te ajudar a ajudar a quem precisa. Estamos aqui para fazer a junção entre você e uma instituição. Nessa plataforma você poderá:</p>
            <ul>
                <li>Encotrar sua instituição</li>
                <li>Saber onde está aceitando o que vc precisa</li>
                <li>Entrar em contato com a instituição</li>
                <li>Buscar por categoria, localidade, nome....</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>Como utilizar o Link Voluntário?</h2>
            <ul>
                <li>
                    <p class="lead">
                        Se você representa uma instituição, cadastre-a em nossa plataforma através da opção "Registre-se".<br />
                        Faça seu login e aproveite!
                    </p>
                </li>
                <li>
                    <p class="lead">
                        Se você é um voluntário, não perca tempo! Clique em "Instituções" e encontre-já a que mais se adequa ao seu perfil de ajuda!<br />
                        Terá sempre uma instituição esperando por você!
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>