<div class="container">
    <h2>Busque aqui pelas instituições cadastradas</h2>
    <form method="post" action="#">
        <div class="form-group">
            <label for="Name"> Nome</label>
            <input name="Name" type="Text" />
        </div>
        <div class="form-group">
            <label for="Name">Estado</label>
            <select>
                <option>Escolha um estado</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Name">Cidade</label>
            <select>
                <option>Escolha um estado</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Name">Categoria</label>
            <select>
                <option>Escolha uma categoria</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Pesquisar" class="btn btn-primary" />
        </div>
    </form>
</div>